.event.event-common.event-todolist-add
  %a.from{:href => "#{team_users_path([current_team, event.actor])}", :target => "_blank"}
    %img.avatar{:alt => "#{event.actor.nickname}", :src => "#{gravatar_image_url(event.actor.email)}"}/
  %i.icon-event
  .event-main
    .event-head
      %a.event-created-at
        = event.created_at.strftime("%H:%M")
      %span.event-actor
        %a.link-member{:href => "#{team_users_path([current_team, event.actor])}", :target => "_blank"} 
          = event.actor.nickname
      %span.event-action
        创建了任务清单
      %span.event-text
        %span.emphasize
          %a.todolist-rest{:href => "#{project_todolist_path(event.eventable.project, event.eventable)}", :title => "#{event.eventable.name}"}
            = event.eventable.name