.wrapper
  #page-launchpad.page
    .topbar
      %h1.logo
        %a{:href => "/", :title => "Back"} tower
      .account-info
        %span.welcome hi, super
        %a{"data-method" => "DELETE", :href => "/users/sign_out", :rel => "nofollow"} Logout
    %ul.teams
      - @teams.each do |team|
        %li
          %a{:href => "#{team_path(team)}"}
            %span.name
              = team.name
            %b.fly ✈
      %li.new
        = form_for Team.new, :html => {:class => "form-horizontal"} do |f|
          = f.text_field :name, :style => "float: left;width: 200px;margin: 3px;"
          = f.submit 'New team', :class => "btn btn-primary"
    .footer
      ©
      %a{:href => "yaoyi.github.io", :target => "_blank"} yaoyi
    %script#tpl-new-team{:type => "text/html"}
      .new-team
        %form.form.form-new-team{:action => "/users/create_team/", "data-remote" => "true", :method => "post"}
          %h4.simple-dialog-title Team name
          .form-item
            .form-field
              %input#txt-team{:autofocus => "", "data-validate" => "required", "data-validate-msg" => "team name", :name => "team", :placeholder => "例如：iPhone 6 design team", :type => "text"}/
          .form-item.form-btns
            %button#btn-create-team.btn.btn-primary.btn-large{"data-disable-with" => "saving", "data-success-text" => "", :type => "submit"} Create team
            %a#btn-cancel-create-team.btn.btn-x{:href => "javascript:;"} cancel
