#page-members.page-inner{"data-page-name" => "团队"}
  .group.group-default.ui-droppable{"data-guid" => "0"}
    %ul.members
      = form_tag invite_team_path(current_team) do
        = select_tag :user_ids, options_for_select(User.all.select{|u| !current_team.users.include?(u) }.collect {|u| [ u.email, u.id ] }), :class => 'member-chosen-select', :multiple => true , :require => true
        = submit_tag '添加新成员', :class => 'btn btn-primary'
      - @users.each do |user|
        %li.member
          %a.member-link{"data-stack" => "", :href => ""}
            %img.avatar{:alt => "admin", :src => "#{gravatar_image_url(user.email)}"}
              %span.name
                = user.nickname