.container.workspace.simple-stack.simple-stack-transition
  .page.page-root.simple-pjax
    #page-events.page-inner{"data-page-name" => "动态", "data-since" => "2014-10-14 12:56:29 UTC"}
      .filters
        %span.filters-title 筛选动态
        .mcw-pop-select.filter-member
          %span.selected-text 所有成员
          %span.icon-arrow.fa.fa-chevron-down
          %input#filter-member{:name => "by_member", :type => "hidden", :value => ""}
      .team-events
        .events-day{"data-absdate" => "2014-10-14T00:00:00+08:00"}
          %h4.events-day-title 今
          .events-day-content
            - @events.each do |event, index|
              .events-ancestor
                %h5.events-ancestor-title
                  %a{:href => "#{team_project_path(@team, event.project)}", :target => "_blank", :title => "#{event.project.name}"} 
                    = event.project.name
                = render :partial => "events/#{event.eventable_type.downcase}/#{event.action}", :locals => {:event => event}