.events-day
  %h4.events-day-title
    %span.date 
      = "#{@date.month}" + '/' + "#{@date.day}"
    %span.day
      = "#{@date.strftime('%a')}"
  .events-day-content
    - @events.each do |project, events|
      = render_cell :events, :events_project_with_header, :project => project, :events => events