#page-todo.page-inner
  %ul.todo-new-wrap{:style => 'margin-top:30px;'}
    %li.todo-form.new
      = form_for [@todo.project, @todo], :html => {:class => 'form'} do |f|
        .form-body
          = f.text_area :content, :class => 'todo-content no-border', :placeholder => 'New task', :style => "overflow: hidden; word-wrap: break-word; resize: none; height: 24px;"
          - unless @todo.assignee.nil?
            = f.select :assignee, options_for_select(@todo.project.users.collect {|u| [ u.nickname, u.id ] }, [@todo.assignee.nickname,@todo.assignee.id])
          - else
            = f.select :assignee, options_for_select(@todo.project.users.collect {|u| [ u.nickname, u.id ] }), {:include_blank => 'choose assignee'}
          = f.date_field :due_at
          .buttons.create-buttons
            %button.btn.btn-primary.btn-create-todo{"data-disable-with" => "Saving...", :type => "submit"} Save task
